body{
    border:  solid #060606;  
}
/*** Banner (lo que este dentro de lo rojo) *******/
.encabezado{
    background-color: rgba(199, 7, 7, 0.837);
    padding-left: 75%; /* La ubicación del buscar y el menu*/
}
/* El registrarse queda al lado del menu*/ 
.navegacion{
    display:flex;    
}
/* tamaño-letra del menu*/ 
.navegacion a{
    color: #fff;
    text-decoration: none;
    font-size:large;
    margin-left: 25px;
    
}
/* diseño al momento de darle clic al menu*/ 
.navegacion :hover{
    background: rgb(0, 0, 11);
    transition: all 0.4s linear; /*Cuando le da clic en el menu cambia*/
    border-radius: 10%; 
}




/******************************* Estilos para los repuestos ********************************/
:root{
    --clr-main: #4b33a8;
    --clr-main-da: #4b33a8;
    --clr-blanco: #ffffff;
    --clr-gray: #e2e2e2;
    --clr-red: rgba(199, 7, 7, 0.837);
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea ul{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgba(199, 7, 7, 0.837);
}

aside{
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex; /* Uno items al lado del otro */
    flex-direction:column; /*uno items abajo del otro */
    justify-content: space-between;
}

.logo{
    font-weight: 600;
    font-size: 1.3rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-blanco);
    font-size: 1rem;
    cursor: pointer;
    display:flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active{
    background-color: white;
    color: var(--clr-main);
    border-top-left-radius:1rem ;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-blanco);
}

.boton-menu.active::after{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-blanco);
}

.boton-carrito{
    margin-top: 3rem;
}

.numerito{
    background-color: var(--clr-blanco);
    color: var(--clr-main);
    padding: .15rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito{
    background-color: var(--clr-main);
    color: var(--clr-blanco);
}

.texto-footer{
    color: gray;
    font-size:  .85rem;
}

main{
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
}

.titulo-principal{
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    width: 80%;
    height: 60%;
    border-radius: 2rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-blanco);
    padding:  .5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border:0;
    background-color: var(--clr-blanco);
    color: var(--clr-main);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-blanco);
}

.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-blanco);  
}

/******************** Carrito *******************/
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.carrito-vacio,
.carrito-comprado{
    color:var(--clr-main);
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color:var(--clr-main);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 9rem;
    border-radius: 1rem;  
}

.carrito-producto-small{
    font-size: .75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}


.carrito-acciones-comprar{
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-blanco);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled{
    display: none;
}

/********************************  PIE DE PAGINA *********************** ********/
.pie-pagina{
    width: 100%;
    background-color: #0a141D;
    text-align: center;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#logo1 {
    width: 130px;
    height: 130px; /* Tamaño del logo */
    margin-right: 50px; /* Espacio entre el logo y el título */
}

.pie-pagina .grupo-1 .box h2{
    color: #9f1717;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #9e9c9c;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social i{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    margin-right: 5px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social i:hover{
    color: red
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}